<body>
  <!-- header small screens -->
    <div class="mobile-landing hide-on-med-and-up">
        <div class="landing">
            <img src="img/arm-2.svg" class="logo-arm-mobile">
            <div class="padding">
                <h1 class="logo">What ales you?</h1>
                <p class="main-copy">Review, discover, and share the best brews in the universe. <br><br> Log-in or create an account!</p>
                <hr>
                <br>
                <div class="center-align">
                    <a class="waves-effect btn-flat" id="log-in">Log-in</a>
                    <a class="waves-effect btn-flat" id="sign-up">Sign up</a>
                </div>
            </div>
        <div class="center-bottom center-align">
            <a class="row" href="#features">learn more</a>
            <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>

    <!-- header large screem -->
    <div class="hide-on-small-only">
        <header class="row jumbo">
            <div>
                <img src="img/arm-left.svg" class="logo-arm-left left">
                <img src="img/arm-right.svg" class="logo-arm-right right">
            </div>
            <div class="row center-align large-copy">
            <div class="padding col l12">
                <h1 class="logo">What ales you?</h1>
                
                <br>
                <p class="main-copy">Review, discover, and share the best brews in the universe. <br><br> Log-in or create an account!</p>
                <hr>
                <br>
                <div class="center-align">
                    <a class="waves-effect btn-flat" id="log-in">Log-in</a>
                    <a class="waves-effect btn-flat" id="sign-up">Sign up</a>
                </div>
            </div>
          </div>
            <div>
            </div>
        </header>

        <div class="center-align center-bottom-large">
          <a class="row" href="#features">learn more</a>
          <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>

    </div>

    <!-- cards -->
    <div class="row" id="features">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/bar.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/patio.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="img/table.jpg">
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
</body>
