a {
    /*color: #00B7FF;*/
    /*color: #ff441d;*/
    /*color: #d4d4d4;*/
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 14pt;
}

.logo {
    /*color: #ff441d;*/
    /*color: #d4d4d4;*/
    font-family: 'Eczar', serif;
    font-size: 37pt;
    margin-top: 0;
}

.logo-big {
    /*color: #ff441d;*/
    /*color: #d4d4d4;*/
    font-family: 'Eczar', serif;
    font-size: 37pt;
    margin-top: 0;
    padding-top: 1em;
}

.logo-arm-mobile {
    padding-top: 1em;
    width: 45vw;
}

.logo-arm-left {
  padding-top: 1em;
  width: 20vw;
}

.logo-arm-right {
  padding-top: 1em;
  width: 20vw;
}

.jumbo{
  background: url(../img/cheers.jpg) no-repeat center center;
  /*background-color: #2637de;*/
  background-size: cover;
  height: 80vh;
  color: white;
}

.padding {
    padding-left: 2em;
    padding-right: 2em;
}

.landing {
    /*color: #ff441d;*/
    color: #d4d4d4;
    /*background-color: #7625b6;*/
    background-color: #2637de;
    /*padding: 2em;*/
    height: 100vh;
    /*color: white;*/
}

.main-copy {
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
    /*color: #d4d4d4;*/
}

.large-copy {
  padding-top: 4em;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    /*border-top: 2px solid #d4d4d4;*/
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

.btn-flat {
    font-family: 'Work Sans', sans-serif;
    font-weight: 20pt;
}

#log-in {
    border: 2px solid #d4d4d4;
    border: 2px solid white;
    border-radius: 3px;
    /*color: #ff441d;*/
    /*color: #d4d4d4;*/
    color: white;
}

#sign-up {
    /*color: #ff441d;*/
    /*color: #d4d4d4;*/
    color: white;
}

.center-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #d4d4d4;
}

.center-bottom-large {
    position: absolute;
    bottom: 20vh;
    width: 100%;
    text-align: center;
    color: #d4d4d4;
}
