<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=247709195668945";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- header small screens -->
    <div class="mobile-landing hide-on-med-and-up">
        <div class="landing">
            <img src="img/arm-2.svg" class="logo-arm-mobile">
            <div class="padding">
                <h1 class="logo">What ales you?</h1>
                <p class="main-copy">Review, discover, and share the best brews in the universe. <br><br> Log-in or create an account!</p>
                <hr class="landing">
                <br>
                <div class="center-align">
                    <a href="/login" class="waves-effect btn-flat" id="log-in">Log-in</a>
                    <a href="/signup" class="waves-effect btn-flat" id="sign-up">Sign up</a>
                </div>
            </div>
            <div class="center-bottom center-align">
                <a class="row" href="#features">learn more</a>
                <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!-- header large screem -->
    <div class="hide-on-small-only">
        <header class="row jumbo">
            <div>
                <img src="img/arm-left.svg" class="logo-arm-left left">
                <img src="img/arm-right.svg" class="logo-arm-right right">
            </div>
            <div class="row center-align large-copy">
                <div class="padding col l12">
                    <h1 class="logo-big">What ales you?</h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p class="main-copy">Review, discover, and share the best brews in the universe. <br><br> Log-in or create an account!</p>
                    <hr class="big">
                    <br>
                    <div class="center-align">
                        <a href="/login" class="waves-effect btn-flat" id="log-in">Log-in</a>
                        <a href="/signup" class="waves-effect btn-flat" id="sign-up">Sign up</a>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </header>

        <div class="center-align center-bottom-large">
            <a class="row" href="#features">learn more</a>
            <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>

    </div>

    <!-- feature desription -->
    <main id="features">
        <div class="row center-align">
            <div class="col s12 m4">
                <img class="icon" src="img/review.svg">
                <h4 class="feature">Discover</h4>
                <p>Using our convenient web app, you'll get all the power of gFood without having to call your order in. Order in your pajamas, order 24 hours a day, order on Christmas, we're here to serve you.</p>
            </div>
            <div class="col s12 m4">
                <img class="icon" src="img/share.svg">
                <h4 class="feature">Share</h4>
                <p>Money: You've got it, we want it. But let it never be said we're not incredibly fair! Burger sales? Check. Pizza sales? Check. Burger and pizza sales?? Check, check, check! We seriously can't stop making deals.</p>
            </div>
            <div class="col s12 m4">
                <img class="icon" src="img/rate.svg">
                <h4 class="feature">Rate</h4>
                <p>You've never seen ordering this quick. Our proprietary ordering rocket ship delivery team allows you to spend less time being hungry, and more time doing what matters most to you. We'd ask what that is, but gFood respects your privacy.</p>
            </div>
        </div>
    </main>

    <!-- cards -->
    <div class="row" id="">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/bar.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/patio.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/table.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="page-footer">
        <div class="">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">What ales you</h5>
                    <p class="grey-text text-lighten-4">This is a Q2 project ceated by Jeff, Ralph, Steve, and Ethan.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="center-align">
                © 2017 Copyright team ICP
            </div>
        </div>
    </footer>
</body>
