<!-- list of breweriers near me -->
<div class="container beer-brown-nearby">
<h4 class="feature">Breweries Near Me</h4>
<ul class="brews">
  {{#each brews}}
    <li><hr><a href="/brewery/{{this.brewery.id}}/{{this.brewery.name}}" class="brew-list">{{this.brewery.name}}</a></li>
  {{/each}}
</ul>
<div id="map"></div>
</div>
