<!-- <div class="container">
{{beer}} -->
<!-- <form action="/rate/{{id}}" method="POST">
  <p>
    <input type="submit" name="rating" value="1" type="checkbox" id="test5" />
    <label for="test5">1</label>
  </p>
</form> -->
<!-- Dropdown Trigger -->
<!-- <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a> -->

<!-- Dropdown Structure -->
<!-- <ul id='dropdown1' class='dropdown-content'>
<form action="/rate/{{id}}" method="POST">
<p><input type="submit" name="rating" value="1" type="checkbox" id="test1" /></p>
<p><input type="submit" name="rating" value="2" type="checkbox" id="test2" /></p>
<p><input type="submit" name="rating" value="3" type="checkbox" id="test3" /></p>
<p><input type="submit" name="rating" value="4" type="checkbox" id="test4" /></p>
<p><input type="submit" name="rating" value="5" type="checkbox" id="test5" /></p>
</form>
</ul>
</div> -->


{{data}}
