<body>

<!-- For small screens -->
<div class="hide-on-med-and-up ">
    <nav>
        <div class="nav-wrapper nav-mobile">
            <a href="/users"><h3 class="logo-mobile col s12 center">What ales you?</h3></a>
        </div>
    </nav>


<section class="row signup">
  <form class="col s12" action="/signup" method="post">
    <div class="row">
      <label class="col s12 signup-label">First Name:</label>
      <input class="col s12 test" type="text" name="first_name"/>
    </div>
    <div class="row">
      <label class="col s12 signup-label">Last Name:</label>
      <input class="col s12 test" type="text" name="last_name"/>
    </div>
    <div class="row">
      <label class="col s12 signup-label">Email:</label>
      <input class="col s12 test validate" type="text" name="username"/>
    </div>
    <div class="row">
      <label class="col s12 signup-label">Password:</label>
      <input class="col s12 test validate" type="password" name="password"/>
    </div>
    <div class="row">
      <label class="col s12 signup-label">Password (repeat):</label>
      <input class="col s12 test validate" type="password" name="password2"/>
    </div>
    <div class="row center">
      <input class="btn signin center" type="submit" value="Sign me up!"/>
    </div>
  </form>
</section>
</div>

<!-- For Large screens -->
<div class=class="hide-on-small-only">
    <nav>
        <div class="nav-wrapper nav-mobile">
            <a href="/users"><h3 class="logo-mobile col s12 center">Sign up!</h3></a>
        </div>
    </nav>
    <section class="row signup">
      <form class="col s12" action="/signup" method="post">
        <div class="row">
          <label class="col s12 signup-label">First Name:</label>
          <input class="col s12 test" type="text" name="first_name"/>
        </div>
        <div class="row">
          <label class="col s12 signup-label">Last Name:</label>
          <input class="col s12 test" type="text" name="last_name"/>
        </div>
        <div class="row">
          <label class="col s12 signup-label">Email:</label>
          <input class="col s12 test validate" type="text" name="username"/>
        </div>
        <div class="row">
          <label class="col s12 signup-label">Password:</label>
          <input class="col s12 test validate" type="password" name="password"/>
        </div>
        <div class="row">
          <label class="col s12 signup-label">Password (repeat):</label>
          <input class="col s12 test validate" type="password" name="password2"/>
        </div>
        <div class="row center">
          <input class="btn signin" type="submit" value="Sign me up!"/>
        </div>
      </form>
    </section>
</div>
