<body>

<!-- For small screens -->
<div class="hide-on-med-and-up">
    <nav>
        <div class="nav-wrapper nav-mobile">
            <a href="/users"><h3 class="logo-mobile col s12 center">Sign up!</h3></a>
        </div>
    </nav>
</div>

<section class="signup">
  <form action="/signup" method="post">
    <div>
      <label class="signup-label">First Name:</label>
      <input class="test" type="text" name="first_name"/>
    </div>
    <div>
      <label class="signup-label">Last Name:</label>
      <input class="test" type="text" name="last_name"/>
    </div>
    <div>
      <label class="signup-label">Email:</label>
      <input class="test" type="text" name="username"/>
    </div>
    <div>
      <label class="signup-label">Password:</label>
      <input class="test" type="password" name="password"/>
    </div>
    <div>
      <label class="signup-label">Password (repeat):</label>
      <input class="test" type="password" name="password2"/>
    </div>
    <div>
      <input class="signup-text" type="submit" value="Sign Up!"/>
    </div>
  </form>
</section>

<!-- For Large screens -->
<div class=class="hide-on-small-only">
    <nav>
        <div class="nav-wrapper nav-mobile">
            <a href="/users"><h3 class="logo-mobile col s12 center">Sign up!</h3></a>
        </div>
    </nav>
</div>

<section class="signup">
<form action="/signup" method="post">
<div>
  <label class="signup-label">First Name:</label>
  <input class="test" type="text" name="first_name"/>
</div>
<div>
  <label class="signup-label">Last Name:</label>
  <input class="test" type="text" name="last_name"/>
</div>
<div>
  <label class="signup-label">Email:</label>
  <input class="test" type="text" name="username"/>
</div>
<div>
  <label class="signup-label">Password:</label>
  <input class="test" type="password" name="password"/>
</div>
<div>
  <label class="signup-label">Password (repeat):</label>
  <input class="test" type="password" name="password2"/>
</div>
<div>
  <input class="signup-text" type="submit" value="Sign Up!"/>
</div>
</form>
<h4><a href="/">Home</a></h4>
</section>
