<form action="/signup" method="post">
  <div>
    <label>First Name:</label>
    <input type="text" name="first_name"/>
  </div>
  <div>
    <label>Last Name:</label>
    <input type="text" name="last_name"/>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="username"/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <label>Password (repeat):</label>
    <input type="password" name="password2"/>
  </div>
  <div>
    <input type="submit" value="Sign Up!"/>
  </div>
</form>
<h4><a href="/">Home</a></h4>
<footer id="footer" class="page-footer  orange lighten-1">
        <div class="">
            <div class="row">
                <div class="col l6 s12 ">
                    <h5 class="white-text">What ales you</h5>
                    <p class="grey-text text-lighten-4">This is a Q2 project ceated by Jeff, Ralph, Steve, and Ethan.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="center-align">
                © 2017 Copyright team ICP
            </div>
        </div>
    </footer>