<body>
    <!-- header small screens -->
    <div class="users-mobile hide-on-med-and-up">
      <nav>
        <div class="nav-wrapper nav-mobile">
          <h3 class="logo-mobile col s12 center">What Ales You?</h3>

        </div>
      </nav>
        <div>
            <div class="row center">
                <div class="col s12">
                  <div class="row center-text">
                    <a href="/dash" class="col s10 offset-s1 z-depth-3 mobtnS btn-large"><h4 class="mobtn-text">My Beers <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h4></a>
                    <a href="/settings" class="col s10 offset-s1 z-depth-3 mobtnS btn-large"><h4 class="mobtn-text">My Settings <i class="fa fa-cog" aria-hidden="true"></i></h4></a>
                    <a href="/logout" class="col s10 offset-s1 z-depth-3 mobtnS btn-large"><h4 class="mobtn-text">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></h4></a>
                    <a id="nearby1" href="/nearby" class="col s10 offset-s1 z-depth-3 mobtnS btn-large nearby"><h4 class="mobtn-text">Nearby <i class="fa fa-location-arrow" aria-hidden="true"></i></h4></a>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- header large screem -->
    <div class="hide-on-small-only">
        <header class="row jumbo spaced">
            <div>
              <img src="img/arm-2-brown.svg" class="arm col s3 logo-arm-left left">
              <h1 class="col s6 center logo-big">What ales you?</h1>
              <img src="img/arm-right-brown.svg" class="col s3 logo-arm-right right">
            </div>
            <div class="row center-align large-copy">
                <div class="padding col s12">
                  <div class="row">
                    <div class="col s6 offset-s3">
                    <a id="nearby1" href="/nearby" class="col s10 offset-s1 z-depth-3 mobtnL btn-large nearby"><h4 class="mobtn-text">Nearby <i class="fa fa-location-arrow" aria-hidden="true"></i></h4></a>
                    <div class="col s12 fillerLG"></div>
                    <a href="/dash" class="col s10 offset-s1 z-depth-3 mobtnL btn-large"><h4 class="mobtn-text">My Beers <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h4></a>
                    <div class="col s12 fillerLG"></div>
                    <a href="/settings" class="col s10 offset-s1 z-depth-3 mobtnL btn-large"><h4 class="mobtn-text">My Settings <i class="fa fa-cog" aria-hidden="true"></i></h4></a>
                    <div class="col s12 fillerLG"></div>
                    <a href="/logout" class="col s10 offset-s1 z-depth-3 mobtnL btn-large"><h4 class="mobtn-text">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></h4></a>
                    </div>
                  </div>
                </div>
            </div>
            <div>
            </div>
        </header>
    </div>
</body>
<script>

$( ".nearby" ).click(function() {
  $( this ).html('locating');
});


</script>
