<body>
    <!-- header small screens -->
    <div class="users-mobile hide-on-med-and-up">
      <nav>
        <div class="nav-wrapper nav-mobile">
          <h3 class="logo-mobile col s12 center">What ales you?</h3>

        </div>
      </nav>
        <div class="">
            <div class="row center">
                <div class="col s12">
                  <div class="row">
                    <a href="/nearby" class="col s10 offset-s1 z-depth-3 mobtn btn-large nearby"><h4 class="mobtn-text">Nearby <i class="fa fa-location-arrow" aria-hidden="true"></i></h4></a>
                    <a href="/beers" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">My Beers <i class="fa fa-beer" aria-hidden="true"></i></h4></a>
                    <a href="/ratings" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">My Ratings <i class="fa fa-star-o" aria-hidden="true"></i></h4></a>
                    <a href="/favs" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">My Favs <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h4></a>
                    <a href="/brewery" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">My Breweries <i class="fa fa-map" aria-hidden="true"></i></h4></a>
                    <a href="/settings" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">My Settings <i class="fa fa-cog" aria-hidden="true"></i></h4></a>
                    <a href="/logout" class="col s10 offset-s1 z-depth-3 mobtn btn-large"><h4 class="mobtn-text">Log Out <i class="fa fa-sign-out" aria-hidden="true"></i></h4></a>
                  </div>
                </div>
            </div>
            <div class="center-bottom center-align">
                <a class="row" href="#features">learn more</a>
                <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    <!-- header large screem -->
    <div class="hide-on-small-only">
        <header class="row jumbo">
            <div>
              <img src="img/arm-2-brown.svg" class="arm col s3 logo-arm-left left">
              <h1 class="col s6 center logo-big">What ales you?</h1>
              <img src="img/arm-right-brown.svg" class="col s3 logo-arm-right right">
            </div>
            <div class="row center-align large-copy">
                <div class="padding col s12">
                  <div class="row">
                    <div class="col s6 offset-s3">
                      <a href="/beers"><h4>My Beers</h4></a>
                      <a href="#"><h4>My Visits</h4></a>
                      <a href="#"><h4>My Breweries</h4></a>
                      <a href="/nearby" class="nearby"><h4>Nearby</h4></a>
                      <a href="/logout"><h4>Logout</h4></a>
                    </div>
                  </div>
                </div>
            </div>
            <div>
            </div>
        </header>

        <div class="center-align center-bottom-large">
            <a class="row" href="#features">learn more</a>
            <i class="row fa fa-2x fa-angle-down" aria-hidden="true"></i>
        </div>

    </div>

    <!-- feature desription -->
    <main id="features">
        <div class="row center-align">
            <div class="col s12 m4">
                <img class="icon" src="img/review.svg">
                <h4 class="feature">Discover</h4>
                <p>Using our convenient web app, you'll get all the power of gFood without having to call your order in. Order in your pajamas, order 24 hours a day, order on Christmas, we're here to serve you.</p>
            </div>
            <div class="col s12 m4">
                <img class="icon" src="img/share.svg">
                <h4 class="feature">Share</h4>
                <p>Money: You've got it, we want it. But let it never be said we're not incredibly fair! Burger sales? Check. Pizza sales? Check. Burger and pizza sales?? Check, check, check! We seriously can't stop making deals.</p>
            </div>
            <div class="col s12 m4">
                <img class="icon" src="img/rate.svg">
                <h4 class="feature">Rate</h4>
                <p>You've never seen ordering this quick. Our proprietary ordering rocket ship delivery team allows you to spend less time being hungry, and more time doing what matters most to you. We'd ask what that is, but gFood respects your privacy.</p>
            </div>
        </div>
    </main>

    <!-- cards -->
    <div class="row" id="">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/bar.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/patio.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="img/table.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="page-footer">
        <div class="">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">What ales you</h5>
                    <p class="grey-text text-lighten-4">This is a Q2 project ceated by Jeff, Ralph, Steve, and Ethan.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="center-align">
                © 2014 Copyright team ICP
            </div>
        </div>
    </footer>
</body>
<script>

$( ".nearby" ).click(function() {
  $( this ).html('locating');
});


</script>
