a {
    color: ;
    font-family: 'Work Sans', sans-serif;
    font-size: 1em;
}


.beer {
  margin-top: 1em;
}

button a {
  color: white;
  font-family: inherit;
}

.logo {
    font-family: 'Eczar', serif;
    font-size: 37pt;
    margin-top: 0;
    color: #FFCB47;
}

.logo-bottle {
  margin-left: 1em !important;
}

.logo-mobile {
    color: #FFCB47;
    font-family: 'Eczar', serif;
    font-size: 3em;
    padding-top: .2em;
    margin-top: 0em;
}

.feature {
  font-family: 'Eczar', serif;
  color: #BC6C25;

}

.logo-big {
    font-family: 'Eczar', serif;
    font-size: 7em;
    margin-top: 0.7em;
    color: #FFCB47;
}

.big-scrn-header {
  font-size: 6em;
  margin-top: .4em;
}

.sml-scrn-header {
  font-size: 3.5em;
  margin-top: 0.5em;
}

.big-scrn-header2 {
  font-size: 4em;
  margin-top: .7em;
}

.sml-scrn-header2 {
  font-size: 2em;
  margin-top: 1.4em;
}

.logo-arm-mobile {
    padding-top: 1em;
    width: 25vw;
}

.logo-arm-left {
  padding-top: 1em;
  width: 20vw;
}

.logo-arm-right {
  padding-top: 1em;
  width: 20vw;
}

.jumbo{
  background: url(../img/cheers.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.btn-large:hover {
   background-color: #FFCB47;
}

.padding {
    padding-left: 2em;
    padding-right: 2em;
}

.padding-all {
  padding: 2em;
}

.landing {
    background: url(../img/cheers.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.mobile-landing {
  height: 100vh;
}

.users-mobile {
  height: 100vh;
  /*background-color: #FFCB47;*/
  background-image: url("../img/bubbles.gif");
}

.nav-mobile {
  background-color: #FEFAE0;
}

/*set the default background color to off-white*/
.std-body {
  background-color: #FEFAE0;
}

.beer-brown-O {
  background-color: #BC6C25;
  opacity: .85;
}

.beer-brown {
  background-color: #BC6C25;
  opacity: .85;
  border:.2em solid #fff;
}


/*delete???*/
.beer-brown-nearby {
  /*background-color: #FEFAE0;*/
  margin: 0 !important;
  /*padding-left: 3vw;*/
  /*padding-right: 0.5em;*/
  width: 100vw;
  /*height: 100vh;*/
  /*font-size: 3em;*/
  font-weight: bold !important;
}

.large-label {
  font-size: 2em;
  color: #fff;
}

.large-label-err {
  font-size: 2em;
  color: red;
}

.form-input {
  font-size: 1.5em !important;
}

.mobile-label {
  font-size: 1em;
  color: #fff;
}

.signup-label {
  font-size: 1.5em;
  color: #BC6C25;
}

.test {
  color: #000 !important;
  margin: 0 10em 0 1em !important;
}

.mobile-label-err {
  font-size: 1em;
  color: red;
}

.mobtnS {
  height: 12vh;
  margin: 4em auto 0 auto;
  background-color: #FEFAE0;
}

.mobtnL {
  height: 9vh;
  margin: 4em auto 0 auto;
  background-color: #FEFAE0;
}

.btn.signin {
  background-color: #BC6C25;
  color: #FFF;
}

.btn.signin:hover {
   background-color: #FFCB47;
}

.pf-btn {
  font-size: 1.5em !important;
}

.mobtn-text {
  margin-top: 0.8em;
  color: #BC6C25;
}

.main-copy {
    font-family: 'Work Sans', sans-serif;
    font-size: 18pt;
}

.large-copy {
  /*padding-top: 2em;*/
  width: 66vw;
  margin-left: auto;
  margin-right: auto;
}

hr.landing {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0;
}

hr.big {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}

.btn-flat {
    font-family: 'Work Sans', sans-serif;
    font-weight: 20pt;
}

#log-in {
    border: 2px solid #d4d4d4;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
}

#sign-up {
    color: white;
}

.center-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #d4d4d4;
}

.center-bottom-large {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #d4d4d4;
}

.icon {
  margin-top: 2em;
  height: 100px;
}

#footer {
  background-color: #ff441d;
}

.brew-list {
  color: black;
  font-weight: 20pt;
  font-family: 'Work Sans', sans-serif;
}

.beer-links {
  font-size: 1.5em;
  color: #BC6C25;
}

.beer-links-header {
  font-size: 2em;
  color: #BC6C25;
  text-decoration: underline;
}

.tabs-headers {
  font-size: 1em !important;
  color: #FFCB47 !important;
  font-weight: bolder;
  background-color: #BC6C25 !important;
}

.tabs-headers-lrg {
  font-size: 2em !important;
  color: #FFCB47 !important;
  font-weight: bolder;
  background-color: #BC6C25 !important;
}

.tabs .indicator {
    background-color: #FFCB47;
}

.beer-scroll {
  height: 55vh;
  overflow: scroll;

}

.beer-scroll-mobile {
  height: 80vh;
  overflow: scroll;

}

/*.tab-main::-webkit-scrollbar {
    width: 1em;
}

.tab-main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tab-main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/

.tabs-regular {
  font-size: 1.2em !important;
  color: #BC6C25 !important;
  padding: 0 !important;
}

.tabs-large {
  font-size: 1.5em !important;
  color: #BC6C25 !important;
}

.beer-list {
  color: black;
  font-weight: 20pt;
  font-family: 'Work Sans', sans-serif;
}

#map {
  height: 50vh;
}

/*.filler {
  height: 10vh !important;
}*/

  /*.fillerLG {
    height: 5vh !important;
  }*/

.my-beer {
  background-color: #FEFAE0;
  color: #BC6C25;
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.custom-tab {
  width: 75vw;
  margin: 1em auto !important;
}

ol {
  margin: 0 !important;
}

.signup {
  background-color: #FEFAE0;
  height: 90vh;
}

.no-beers {
  padding: 0 !important;
  margin: 0 !important;
  min-height: 75vh;
}
